.carousel {
    position: relative;
    height: 80vh;
    z-index: 0;
    margin-bottom: 5em;
}

.carousel_slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    border:0.01px black solid ;
    background-color: rgb(228, 228, 230);
    border-radius: 2em;
    width: 80vw;
    height: 80vh;
    left: 7em;
    align-self: center;
    padding: 2em;
}

.carousel_button{
    height: 18%;
    background:none;
    border: none;
    top:45%;
    bottom: 50%;
    position: absolute;
    font-size: 4em;
    z-index: 5;
    width: 8%;
    border-radius: 5em;
}

.carousel_active{
    opacity: 1;
}

.carousel_name{
    font-size: 3em;
}

.carousel_info{
    display: flex;
    margin: 3em 0;
    height: 55vh;
}

.carousel_image{
    flex:0 0 70%;
    border: black solid;
    border-radius: 3em;
}

.carousel_desc{
    align-self: center;
    margin-left: 2em;
    font-size: 1em;
    line-height: 25px;
    justify-self:center;
    border: black solid;
    border-radius: 1em;
    padding: 1em;
}

.carousel_prev{
    color: var(--text-colour);
    left:0;
    justify-self: center;
    align-self: center;
    transition: 500ms ease-in-out;
}

.carousel_next{
    justify-self: center;
    align-self: center;
    color: var(--text-colour);
    right: 0;
    transition: 500ms ease-in-out;
}

.carousel_prev:hover,.carousel_next:hover{
    background-color:rgb(228, 228, 230);
}